---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		The Osprey Library is a foundation aimed at improving graphic artists and programmers by 
		sharing industry workflows, ideas and building networks for achieving new horizons.
	</p>

</Layout>
