---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
	    <h1>Welcome to the Library</h1>
	    <p>
	        This is the new central hub for the <strong>Crescendo Engine</strong>, 
	        <strong>Osprey Engine: Black</strong>, and our TeamSpeak community. 
	    </p>
	    <p>
	        Check the <a href="/blog">Blog</a> for the latest technical updates and 
	        server news previously posted in Discord.
	    </p>
	</main>
		<Footer />
	</body>
</html>
